h1 {
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  div section {
    hight: 150px;
    border: 1px solid black;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #f8f4fa;
  }
  
  p {
    width: 100px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    display: inline;
    float: right;
    position: relative;
    margin-top: 0;
  }
    
    #p1 {
      background-color: #ffc1cc;
    }
    #p2 {
      background-color: #fb607f;
    }
    #p3 {
      background-color: #de3163;
    }
  
   /******** Desktop ********/
  @media (min-width: 992px){
      #section1 {
        width: 32%;
      }
      #section2 {
        width: 32%;
      }
      #section3 {
        width: 32%;
      }
    }
    
    /******** Tablet ********/
    @media (min-width: 768px) and (max-width: 991px) {
      #section1 {
        width: 48%;
      }
      #section2 {
        width: 48%;
      }
      #section3 {
        width: 97%;
      }
    }
    
    /******** Mobile ********/
    @media (max-width: 767) {
      #section1 {
        width: 100%;
      }
      #section2 {
        width: 100%;
      }
      #section3 {
        width: 100%;
      }
    }