div {
    background-color: #f0f8ff
}
div section {
    width: initial;
    height: 50px;
    border: 1px solid black;
}
#section1 {
    background-color: #efdecd;
}
#section2 {
    background-color: #bcd4e6;
}
#section3 {
    background-color: #915c83;
}