h1 {
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  div section {
    width: 32%;
    hight: 150px;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #f8f4ff;
  }
  
  p {
    width: 100px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    display: inline;
    float: right;
    position: relative;
    margin-top: 0;
  }
    
    #section1 {
      background-color: #ffc1cc;
    }
    #section2 {
      background-color: #fb607f;
    }
    #section3 {
      background-color: #de3163;
    }

/******** Desktop ********/
@media (min-width: 992px){
    div section {
      width: 32%;
    }
  }
  
  /******** Tablet ********/
  @media (min-width: 991px) and (max-width: 768) {
    div section {
      width: 49%;
    }
  }
  
  /******** Mobile ********/
  @media (max-width: 767) {
    div section {
      width: 100%;
    }
  }